<h4>Server Error</h4>
<p>An unexpected error occurred on the server.</p>
@if(error) {
    <h4 class="text-danger">Error: {{ error.message }}</h4>
    <p>what to do next?</p>
    <ul>
        <li>Check your internet connection.</li>
        <li>Try refreshing the page.</li>
        <li>If the problem persists, please contact support.</li>
        <li>open chrome tools and check the console for errors.</li>
        <li>reproduce the error in postman</li>

        <li>check the server logs for more details.</li>
    </ul>
}
